/* Add your style below */










/* initial style for gameboard - you'll want to delete this later   */
/* it's just for getting started with js */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

#gameBoard div {
    height: auto;
    aspect-ratio: 2/1;
    width: 200px;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    background-color: blue;
    font-family: "gyparody", serif;
        justify-content: center;
        align-items: center;
    font-size: 20px;
    color: #FFD700;

}
    @font-face {

        font-family: "gyparody";
        src: url("../fonts/gyparody.ttf");
    }


#gameBoard {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
}
    .category{
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }





/* style for modal*/
#qaModal{

    color: #FFD700;
    font-size:25px;
    }
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color:  blue;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }
      
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }